{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<main>
    <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}    
    <h1>Dashboard</h1>
    {% if current_user.is_authenticated %}
    <form id="login-form" class="form" action="" method="post">
        <div class="form-group">
            {{ form.group.label(class="text-info") }}<br>
            {{ form.group(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        
    </form>
    {% if current_user.gid == 1 %}
    <form id="login-form" class="form2" action="" method="post">
        <div class="form-group">
            {{ form2.deluser.label(class="text-info") }}<br>
            {{ form2.deluser(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form2.delete(class="btn btn-outline-info") }}
        </div>
    </form>
    {% endif %}
    {% endif %}
    </body>
    <p>Welcome to the University of Western Australia Biomedical School Biological databse.

      This utility is provided to aid in recording sample locations within the freezer and Liquid Nitrogen
      facilities of L block at the QEII Medical centre.

      How to use the system:

      Access storage locations by viewing the <a href="#">rooms</a> or <a>freezers</a> page.
      You will be able to follow navigation links to relative boxes contained within each of the facilities.
      Each box page will display a table of box locations and any relevant samples contained within.

      Clicking on a box location will reveal further details about the sample contained within.
      You may create additional samples on box pages using the create link.
      These will be added to the box location
      specified. 
       remove samples from box
      locations if you have removed them from that location.

    </p>
</main>
{% endblock content %}