{% extends "base.html" %}
{% block title %} Samples {% endblock %}
{% block content %}
<main>
    <div class="inline"><h1>VDSS10/Box 3</h1>
        &#9;&#60;<a href="/room" class="title-link">Freezer 11</a>
        &#9;&#60;<a href="/freezer" class="title-link">Room 1.31</a>
    </div>
    <br>
    <!-- If box type is 10x10 -->
    {% if sample_box_id == "10" %}
    {% for sample_row in samples | batch(10, "Empty") %}
    <div class="card-group">
        {% for sample in sample_row %}
        <a href="#" class="card border">
            <div class="card-body">
                <p class="card-text coord">{{sample}}</p>
                <p class="card-text"> Sample info</p>
                <!--
                <p class="card-text"><small class="text-muted"></small></p>
                -->
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}

    <!-- If box type is 9x9-->
    {% if sample_box_id == "9" %}
    {% for sample_row in samples | batch(9, "Empty") %}
    <div class="card-group">
        {% for sample in sample_row %}
        <a href="#" class="card border">
            <div class="card-body">
                <p class="card-text coord">{{sample}}</p>
                <p class="card-text"> Sample info</p>
                <!--
                <p class="card-text"><small class="text-muted"></small></p>
                -->
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}

    <!-- If box type is standard-->
    {% if sample_box_id == "s" %}
    {% for sample_row in samples | batch(22, "Empty") %}
    <div class="card-group">
        {% for sample in sample_row %}
        <a href="#" class="card border">
            <div class="card-body">
                <p class="card-text coord">{{sample}}</p>
                <!--
                <p class="card-text"><small class="text-muted"></small></p>
                -->
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}

    <!-- If box type is 5ml-->
    {% if sample_box_id == "5ml" %}
    {% for sample_row in samples | batch(16, "Empty") %}
    <div class="card-group">
        {% for sample in sample_row %}
        <a href="#" class="card border">
            <div class="card-body">
                <p class="card-text coord">{{sample}}</p>
                <!--
                <p class="card-text"><small class="text-muted"></small></p>
                -->
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}

    <!-- If box type is large-->
    {% if sample_box_id == "l" %}
    {% for sample_row in samples | batch(24, "Empty") %}
    <div class="card-group">
        {% for sample in sample_row %}
        <a href="#" class="card border">
            <div class="card-body">
                <p class="card-text coord">{{sample}}</p>
                <!--
                <p class="card-text"><small class="text-muted"></small></p>
                -->
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
</main>
<div class="hidden sample-sidebar" style="display: none;">
</div>
{% endblock content %}