{% extends "base.html" %}
{% block title %} Inventory {% endblock %}
{% block content %}

<div>   
    <button id="create_sample" value="virus_culture" class="btn btn-primary btn-sm" >Add Virus Culture</button>
    <table class="table" >
        <caption>Virus Culture Data</caption>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Sample Date</th>
            <th scope="col">PathWest ID</th>
            <th scope="col">Batch Number</th>
            <th scope="col">Passage Number</th>
            <th scope="col">Growth Media</th>         
            <th scope="col">Volume</th>      
            <th scope="col">User</th>
            <th scope="col">Options</th>      
          </tr>
          
        </thead>

    {% for virus_culture in virus_cultures %}

        <tbody>
            <tr>
                <td>{{ virus_culture.lab_id }}</td>
                <td>{{ virus_culture.sample_date }}</td>
                <td>{{ virus_culture.pathwest_id }}</td>
                <td>{{ virus_culture.batch_number }}</td>
                <td>{{ virus_culture.passage_number }}</td>
                <td>{{ virus_culture.growth_media }}</td>    
                <td>{{ virus_culture.volume_ml }}</td>
                <td>{{ virus_culture.user_id }}</td>     
                <td>
                    <button id="{{ virus_culture.id }}" class="edit_sample" value="virus_culture" class="btn btn-primary btn-sm" >Edit</button>
                </td>                         
                <td>
                    <button id="{{ virus_culture.id }}" class="delete_sample" value="virus_culture" class="btn btn-warning btn-sm" >Delete</button>
                </td>                 
            </tr>    
        </tbody> 

    {% endfor %}
    </table>
</div>
{% endblock content %}