{# Update Template #}

{% extends "sample_create_base.html" %}
{% block title %} Inventory {% endblock %}
{% block custom_sample_content %}

    <div class="form-group">
        {{ form.visit_number.label(class='col-md-4') }} 
        {{ form.visit_number(id="primary-tab-index", tabindex=6) }}
    </div>
    <div class="form-group">
        {{ form.cell_count.label(class='col-md-4') }} 
        {{ form.cell_count(id="primary-tab-index", tabindex=6) }}
    </div>
    <div class="form-group">
        {{ form.patient_id.label(class='col-md-4') }} 
        {{ form.patient_id(id="primary-tab-index", tabindex=6) }}
    </div>

{% endblock custom_sample_content %}