{% extends "base.html" %}
{% block title %} Inventory {% endblock %}
{% block content %}

<div>   
    <button id="create_pbmc" value="Create New" class="btn btn-primary btn-sm" >Add PBMC</button>
    <table class="table" >
        <caption>PBMC Data</caption>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Sample Date</th>      
            <th scope="col">Volume</th>
            <th scope="col">Cell Count (millions)</th>       
            <th scope="col">Patient ID</th>          
            <th scope="col">Options</th>        
          </tr>
          
        </thead>

    {% for pbmc in pbmcs %}

        <tbody>
            <tr>
                <td>{{ pbmc.lab_id }}</td>
                <td>{{ pbmc.sample_date }}</td>
                <td>{{ pbmc.volume_ml }}</td>
                <td>{{ pbmc.cell_count }}</td>
                <td>{{ pbmc.patient_code }}</td>          
                <td>
                    <button id="{{ pbmc.id }}" class="edit_pbmc" value="Edit" class="btn btn-primary btn-sm" >Edit PBMC</button>
                </td>                          
            </tr>    
        </tbody> 

    {% endfor %}
    </table>
</div>
{% endblock content %}