/* Nav related styles reference: https://www.cssscript.com/dashboard-sidebar-menu-template/ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #4d4d4f;
  --main-color-dark: #00a94f;
  --main-color-light: #eceae4;
  --secondary-color: #70cacb;
  --text-color: #cfcde7;
  --maroon: #860038;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: var(--main-color-light);
  min-height: 100vh;
  display: flex;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
  width: 16rem;
  padding: 1.8rem 0.85rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease-in-out;
  z-index: 1;
}

nav::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 100%;
  top: 0;
  left: 100%;
}

main {
  flex: 1;
  padding: 2rem;
  color: #1f2027;
  display: flex;
  flex-direction: column;
}

main h1 {
  margin-bottom: 1rem;
}

main .copyright {
  margin-top: auto;
  font-size: 0.9rem;
}

main .copyright span {
  color: var(--main-color);
  font-weight: 500;
  cursor: pointer;
}

.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
}

.sidebar-top .logo {
  width: 2.1rem;
  margin: 0 0.8rem;
}

.sidebar-top h3 {
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

#smaller{
  font-size: 1rem;
}

.shrink-btn {
  position: absolute;
  top: 50%;
  height: 27px;
  padding: 0 0.3rem;
  background-color: var(--main-color);
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  right: -2.65rem;
  transform: translateY(-50%) translateX(-8px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.shrink-btn i {
  line-height: 27px;
  transition: 0.3s;
}

.shrink-btn:hover {
  background-color: var(--main-color-dark);
}

nav:hover .shrink-btn,
.shrink-btn.hovered {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
  pointer-events: all;
}

/* Sidebar Search */

.search {
  min-height: 2.7rem;
  background-color: var(--maroon);
  margin: 1.3rem 0.5rem 1rem;
  display: grid;
  grid-template-columns: 2.7rem 1fr;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.search input {
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  caret-color: #fff;
  font-family: inherit;
}

.search input::placeholder {
  color: var(--main-color-light);
}

.sidebar-links ul {
  position: relative;
}

.sidebar-links li {
  position: relative;
  padding: 2.5px 0;
}

.sidebar-links a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  height: 53px;
}

.icon {
  font-size: 1.3rem;
  text-align: center;
  min-width: 3.7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.icon i {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.3s;
}

.icon i:last-child {
  opacity: 0;
  color: #fff;
}

.sidebar-links a.active{
  width: 100%;
  height: 53px;
  background-color: var(--main-color-dark);
  border-radius: 10px;
  position: relative;
  top: 2.5px;
  left: 0;
  transition: top 0.3s;
  color: #fff;
}

.sidebar-links a:hover {
  color: #fff;
  text-decoration: none;
}

.sidebar-links a .link {
  transition: opacity 0.3s 0.2s, color 0.3s;
}

.sidebar-links a.active i:first-child {
  opacity: 0;
}

.sidebar-links a.active i:last-child {
  opacity: 1;
}

/*.active-tab {
  width: 100%;
  height: 53px;
  background-color: var(--main-color-dark);
  border-radius: 10px;
  position: relative;
  top: 2.5px;
  left: 0;
  transition: top 0.3s;
}*/

.sidebar-links h4 {
  position: relative;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0.8rem;
  color: var(--text-color);
  letter-spacing: 0.5px;
  height: 2rem;
  line-height: 45px;
  transition: opacity 0.3s 0.2s, height 0.5s 0s;
}

.sidebar-footer {
  position: relative;
  margin-top: auto;
}

.sidebar-footer a:hover {
  color: #fff;
  text-decoration: none;
}
.account {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--text-color);
  height: 53px;
  width: 3.7rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s 0s, color 0.3s 0s;
}

.account:hover {
  color: #fff;
}

.user {
  display: flex;
  align-items: center;
}

.user-profile {
  white-space: nowrap;
  max-width: 100%;
  transition: opacity 0.3s 0.2s, max-width 0.7s 0s ease-in-out;
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.user img {
  width: 2.9rem;
  border-radius: 50%;
  margin: 0 0.4rem;
}

.user-info {
  padding-left: 0.3rem;
}

.user-info h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
}

.user-info h5 {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--text-color);
  margin-top: 0.3rem;
  line-height: 1;
}

.log-out {
  display: flex;
  height: 40px;
  min-width: 2.4rem;
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  border-radius: 10px;
  margin: 0 0.65rem;
  transition: color 0.3s;
}

.log-out:hover {
  color: #fff;
  text-decoration: none;
}

/* Centered Log Out icon looked weird, this adjusts it slightly */
.log-out i{
  position: relative;
  right: 1px;
}

.tooltip {
  background-color: var(--main-color);
  position: absolute;
  right: -1.2rem;
  top: 0;
  transform: translateX(100%) translateY(-50%);
  padding: 0 0.8rem;
  font-size: 0.85rem;
  display: none;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 30px;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  text-align: center;
  white-space: nowrap;
}

.tooltip span {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  opacity: 0;
  transition: 0.3s;
}

.tooltip span.show {
  opacity: 1;
}

.tooltip-element:hover ~ .tooltip {
  opacity: 1;
  pointer-events: all;
}

/* When the menu shrinks */

.hide {
  transition: opacity 0.3s 0.2s;
}

body.shrink nav {
  width: 5.4rem;
}

body.shrink .hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}

body.shrink .shrink-btn i {
  transform: rotate(-180deg);
}

body.shrink .sidebar-links h4 {
  height: 10px;
}

body.shrink .account {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s 0.3s, color 0.3s 0s;
}

body.shrink .user-profile {
  max-width: 0;
  transition: opacity 0.3s 0s, max-width 0.7s 0s ease-in-out;
}

body.shrink .tooltip {
  display: grid;
}

/* Keep empty boxes hidden */
#box-empty{
  visibility: hidden;
}

/* button colours */
.btn-primary{
  background-color: var(--main-color-dark);
  border-color: var(--main-color-dark);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  background-color: white !important;
  border-color: var(--main-color-dark) !important;
  color: var(--main-color-dark) !important;
}

/* Class with all elements inside, inline with each other */
.inline > *{
  display:inline;
}

/* Create button float to right */
#create_box, #create_freezer, #create_room{
  float:right;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Input forms, reference: https://jsfiddle.net/bootstrapious/3j4a0Lps */
.border-md {
  border-width: 2px;
}

.form-control:not(select) {
  padding: 1.5rem 0.5rem;
}

select.form-control {
  height: 52px;
  padding-left: 0.5rem;
}

.form-control::placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--main-color-dark);
}

/* If we wanna change colour of background of auto inputed values of forms */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}



/* Aligns the Title and Input for forms to reduce size of input screens */
.form-group{
  display:flex;
  flex-direction: row, column;
  justify-content: flex-end, center, space-between, space-around;
  align-items: stretch, flex-start, flex-end, center;
  padding-right: 100;
}

/* Text in grid of samples */
.card {
  position: relative;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  color: black;

}
.card:hover, .card:focus, .card:active {
  border-color: var(--main-color-dark) !important;
  text-decoration: none;
}

.card-text {
  font-size: small;
}

.coord{
  opacity: 0.75;
  font-size: x-small;
  position: fixed;
  top: 0;
  left: 0.25rem;
}

.edit {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  background-color: white;
  border: none;
  opacity: 0.5;
}

.edit:hover, .edit:focus, .edit:active {
  opacity: 1;
  outline: none;
}

.selected-card{
  background-color: var(--main-color-dark);
  color: white;
}

.selected-card .coord{
  opacity: 1;
}

.selected-card:hover, .selected-card:focus, .selected-card:active {
  border-color: var(--maroon) !important;
  color: white;
  text-decoration: none;
}

.selected-card a, .selected-card button{
  background-color: white;
  color: var(--main-color-dark);
}

.selected-card a:hover, .selected-card a:focus, .selected-card a:active,
.selected-card button:last-child:hover, .selected-card button:last-child:focus, .selected-card button:last-child:active{
  background-color: var(--maroon) !important;
  color: white !important;
}

.selected-card .edit {
  background-color: var(--main-color-dark);
  color: white;
}

.title-link {
  color: black;
}

.title-link:hover, .title-link:focus, .title-link:active {
  color: var(--main-color-dark);
  text-decoration: underline dotted;
}

.sample-sidebar{
  position: sticky;
  width: 16rem;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  width: 16rem;
  padding: 1.8rem 0.85rem;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease-in-out;
  z-index: 1;
}

.hidden {
  display: none;
}

.modal-dialog{
  position: relative;
  display: table; /* This is important */ 
  overflow-y: auto;    
  overflow-x: auto;
  width: auto;
  min-width: 300px;   
}