{% extends "base.html" %}
{% block title %} Inventory {% endblock %}
{% block content %}

<div>   
    <button id="create_sample" value="plasma" class="btn btn-primary btn-sm" >Add Plasma</button>
    <table class="table" >
        <caption>Plasma Data</caption>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Sample Date</th>
            <th scope="col">Volume</th>      
            <th scope="col">User</th>
            <th scope="col">Options</th>       
          </tr>
          
        </thead>

    {% for plasma in plasmas %}

        <tbody>
            <tr>
                <td>{{ plasma.lab_id }}</td>
                <td>{{ plasma.sample_date }}</td>                     
                <td>{{ plasma.volume }}</td>          
                <td>{{ plasma.user_id }}</td>          
                <td>
                    <button id="{{ plasma.id }}" class="edit_sample" value="plasma" class="btn btn-primary btn-sm" >Edit</button>
                </td>                         
                <td>
                    <button id="{{ plasma.id }}" class="delete_sample" value="plasma" class="btn btn-warning btn-sm" >Delete</button>
                </td> 
            </tr>    
        </tbody> 

    {% endfor %}
    </table>
</div>
{% endblock content %}