{# Update Template #}

<div class="modal-header">
  <h5 class="modal-title">{{ title }}</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="container col-12" method="POST" action='/box/' role='form'>
    <div class="justify-content-center align-items-center" style="margin-top:20">
      <div class="form-group">{{ form.id() }}</div>

      <!-- Name -->
      <div class="form-group">
        {{ form.label.label(class='col-md-4 vert-cent') }} 
        {{ form.label(id="primary-tab-index", tabindex=1, class="form-control bg-white border-md") }}
      </div>

      <!-- Box Type -->
      <div class="form-group">
        {{ form.box_type.label(class='col-md-4 vert-cent') }} 
        <select class="form-control bg-white border-md" name="box_type">
          {% for box_type in box_types %}
            <option value="{{box_type.id}}">{{box_type.name}}</option>
          {% endfor %}
        </select>
      </div>
      {% if shelf %}
      <input type="hidden" id="shelf_id" name="shelf_id" value="{{shelf.id}}" />
      {% else %}

      <!-- Shelf -->
      <div class="form-group">
        {{ form.shelf_id.label(class='col-md-4 vert-cent') }} 
        <select class="form-control bg-white border-md" name="shelf_id">
          {% for shelf in shelves %}
            <option value="{{shelf.id}}">{{shelf.freezer.name}} ({{shelf.name}})</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}

      <!-- Owner -->
      <div class="form-group">
        {{ form.owner.label(class='col-md-4 vert-cent') }} 
        {{ form.owner(id="primary-tab-index", tabindex=3, class="form-control bg-white border-md") }}
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary ">Submit</button>
      <button type="button" data-dismiss="modal" class="btn">Cancel</button>
    </div>
  </form>
</div>
