{% extends "base.html" %}
{% block title %} Inventory {% endblock %}
{% block content %}

<div>   
    <button id="create_mosquito" value="Create New" class="btn btn-primary btn-sm" >Add Mosquito</button>
    <table class="table" >
        <caption>Mosquito Data</caption>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Sample Date</th>                            
            <th scope="col">Vial Source</th>                   
          </tr>
          
        </thead>

    {% for mosquito in mosquitoes %}

        <tbody>
            <tr>
                <td>{{ mosquito.lab_id }}</td>
                <td>{{ mosquito.sample_date }}</td>                
                <td>{{ mosquito.vial_source }}</td>       
                <td>
                    <button id="{{ mosquito.id }}" class="edit_mosquito" value="Edit" class="btn btn-primary btn-sm" >Edit Mosquito</button>
                </td>                  
            </tr>    
        </tbody> 

    {% endfor %}
    </table>
</div>
{% endblock content %}