{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
<div> 
    <div class="inline">
        {% if freezer %}
        <h1>Boxes</h1>
        {% if freezer.freezer_obj.name == "-80c" %}
        &#9;&#60; <a href="{{ url_for('shelf.shelf_boxes', shelf_id = shelf.id) }}" class="title-link">Shelf {{shelf.name}}</a>
        {% else %}
        &#9;&#60; <a href="{{ url_for('shelf.shelf_boxes', shelf_id = shelf.id) }}" class="title-link">Tower {{shelf.name}}</h1>
        {% endif %}
        &#9;&#60; <a href="{{ url_for('freezer.freezer_shelves', freezer_id = shelf.freezer.id) }}" class="title-link">{{ shelf.freezer.name }}</a>
        &#9;&#60; <a href="{{ url_for('room.room_freezers', room_id = shelf.freezer.room.id) }}" class="title-link">{{ shelf.freezer.room.name }}</a>
        &#9;&#60; <a href="{{ url_for('building.building_rooms', building_id = shelf.freezer.room.building.id)}}" class="title-link">{{ shelf.freezer.room.building.name}}</a>
       
        <!--<button id="create_box" type="button" class="create_box btn btn-primary btn-sm" data-target="modal-response">Create</button>-->
        {% if current_user.gid <= 3 %}
        <button id="create_box" type="button" class="create_box btn btn-primary btn-sm" data-target="modal-response" value="{{ shelf.id }}">Add Box</button>
        {% endif %}
        {% else %}
        <h1>Boxes: All</h1>
        {% if current_user.gid <= 3 %}
        <button id="create_box" type="button" class="create_box btn btn-primary btn-sm" data-target="modal-response">Create Box</button>
        {% endif %}
        {% endif %}
    </div>
    <br>
    {% for box_row in boxes | batch(3, "Empty") %}
    <div class="card-deck">
        {% for box in box_row %}
        {% if box.id is defined %}
        <!-- If boxes are of certain type, set their classes to visually distignuish them -->
        <!-- 9x9 box -->
        {% if box.box_obj.name == "9x9" %}
        <div class="card boxninebynine">
        <!-- 10x10 box -->
        {% elif box.box_obj.name == "10x10"%}
        <div class="card boxtenbyten">
        <!-- standard wax box -->
        {% elif box.box_obj.name == "Wax Box (Standard)" %}
        <div class="card boxwaxstand">
        <!-- 5ml wax box -->
        {% elif box.box_obj.name == "Wax Box (5ml)" %}
        <div class="card boxwaxfivemil">
        <!-- Else it's a large wax box -->
        {% else %}
        <div class="card boxwaxlarge">
        {% endif %}
            <div class="card-body">
                {% if current_user.gid <= 3 %}
                <button  type="button" class='bx bx-dots-horizontal-rounded edit' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" id="edit_box" data-id="{{ box.id }}">Edit</button>
                    <a href="{{ url_for('box.delete_box', box_id = box.id) }}" class="dropdown-item delete">Delete</a>
                </div>
                {% endif %}
              <h5 class="card-title">{{box.label}}</h5>
              <p class="card-text">{{box.owner}}</p>
              <a href="{{ url_for('box.box_samples', box_id = box.id ) }}" class="btn btn-primary noprop">Enter</a>
            </div>
        </div>
        {% else %}
        <div class="card" id="box-empty">
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    {% endfor %}
</main>
<div class="sample-sidebar hidden" id="box-info">
</div>
{% endblock content %}