{% extends "base.html" %}
{% block title %} Shelves {% endblock %}
{% block content %}
<main>
    <div class="inline">
        <h1>Shelves: All</h1>
        {% if current_user.gid <= 3 %}
        <button id="create_shelf" type="button" class="btn btn-primary btn-sm" data-target="modal-response">Create</button>
        {% endif %}
    </div>
    <br>
    {% for shelf_row in shelves | batch(3, "Empty") %}
    <div class="card-deck">
        {% for shelf in shelf_row %}
        {% if shelf.id is defined %}
        <div class="card">
            <div class="card-body">
                {% if current_user.gid <= 3 %}
                <button  type="button" class='bx bx-dots-horizontal-rounded edit' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">                   
                        <button class="dropdown-item" id="edit_shelf" data-id="{{ shelf.id }}">Edit</button>
                        <a href="{{ url_for('shelf.delete_box', shelf_id = shelf.id) }}" class="dropdown-item">Delete</a>
                </div>
                {% endif %}
                <h5 class="card-title">{{ shelf.name}}</h5>
                <p class="card-text">{% if shelf.freezer %}{{ shelf.freezer.name }}{% else %}NOT LINKED{% endif %}</p>
                <a href="{{ url_for('shelf.shelf_boxes', shelf_id = shelf.id ) }}" class="btn btn-primary noprop">Enter</a>
            </div>
        </div>
        {% else %}
        <div class="card" id="box-empty">
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    {% endfor %}
</main>
<div class="sample-sidebar hidden" id="box-info">
</div>
{% endblock content %}