{% extends "base.html" %}
{% block title %} Rooms {% endblock %}
{% block content %}
<main id="rooms-container">
    <h1>Rooms</h1>
<!--Simon's Code-->
    <div>   
        <button id="test_button" value="Create New" class="btn btn-primary btn-sm" onclick="testPost()">Create new</button>
        <table class="table" >
            <caption>Cell Line Data</caption>
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Sample Date</th>            
                <th scope="col">Cell Type</th>       
                <th scope="col">Passage Number</th>       
                <th scope="col">Cell Count</th>       
                <th scope="col">Growth Media</th>       
                <th scope="col">Vial Source</th>       
                <th scope="col">Lot Number</th>       
              </tr>
              
            </thead>
    
        {% for cell_line in cell_lines %}
    
            <tbody>
                <tr>
                    <td>{{ cell_line.sample_id }}</td>
                    <td>{{ cell_line.sample_date }}</td>
                    <td>{{ cell_line.cell_type }}</td>
                    <td>{{ cell_line.passage_number }}</td>
                    <td>{{ cell_line.cell_count }}</td>
                    <td>{{ cell_line.growth_media }}</td>
                    <td>{{ cell_line.vial_source }}</td>
                    <td>{{ cell_line.lot_number }}</td>
                    <td class="center">                                    
                            <button id="test_button" value="{{ cell_line.id }}" class="btn btn-primary btn-sm" onclick="testPost()">View Details</button>
                    </td>   
                </tr>    
            </tbody> 
    
        {% endfor %}
        </table>
    </div>
</main>
{% endblock content %}