<td class="box-text">{{ sample.sample_type }}</td>
<td class="box-text">{{ sample.lab_id }}</td>
<td class="box-text"><a href="/box/{{ sample.box_id }}">{{ sample.box_name }}</a></td>
<td class="box-text">{{ sample.position }}</td>
<td class="box-text">{{ sample.pathwest_id }}</td>
<!-- <td>{{ sample.id }}</td> -->
<td class="box-text">{{ sample.cell_type }}</td>
<td>{{ sample.sample_date }}</td>
<td class="box-text">{{ sample.visit_number }}</td>
<td class="box-text">{{ sample.batch_number }}</td>
<td class="box-text">{{ sample.passage_number }}</td>
<td class="box-text">{{ sample.cell_count }}</td>
<td class="box-text">{{ sample.growth_media }}</td>
<td class="box-text">{{ sample.vial_source }}</td>
<td class="box-text">{{ sample.lot_number }}</td>
<td class="box-text">{{ sample.volume_ml }}</td>
<td class="box-text">{{ sample.patient_code }}</td>
<td class="box-text">{{ sample.user_id }}</td>
<td class="box-text">{{ sample.notes }}</td>
<td class="box-text">{{ sample.used }}</td>
<td><button id="{{ sample.id }}" class="edit_sample btn btn-primary btn-sm" value="{{sample.sample_type.replace(' ', '_').lower()}}" >Edit</button></td>
<td><button id="{{ sample.id }}" name="{{sample.lab_id}}" class="delete_sample btn btn-primary btn-sm" value="{{sample.sample_type.replace(' ', '_').lower()}}">Delete</button></td>
