<th scope="col">SampleType</th>
<th scope="col">Box</th>
<th scope="col">Position</th>
<th scope="col">Pathwest_ID</th>
<th scope="col">Lab_id</th>
<th scope="col">Cell_Type</th>
<th scope="col">Sample_Date</th>
<th scope="col">Visit_number</th>
<th scope="col">Batch_number</th>
<th scope="col">Passage_number</th>
<th scope="col">Cell_count</th>
<th scope="col">Growth_Media</th>
<th scope="col">Vial_Source</th>
<th scope="col">IoT_number</th>
<th scope="col">Volume(ml)</th>
<th scope="col">Patient_code</th>
<th scope="col">User_id</th>
<th scope="col">Notes</th>
