<td>{{ sample.sample_type }}</td>
<td>{{ sample.pathwest_id }}</td>
<td>{{ sample.id }}</td>
<td>{{ sample.type }}</td>
<td>{{ sample.sample_date }}</td>
<td>{{ sample.visit_number }}</td>
<td>{{ sample.batch_number }}</td>
<td>{{ sample.passage_number }}</td>
<td>{{ sample.cell_count }}</td>
<td>{{ sample.media }}</td>
<td>{{ sample.source }}</td>
<td>{{ sample.lot_number }}</td>
<td>{{ sample.volume }}</td>
<td>{{ sample.patient_code }}</td>
<td>{{ sample.initials }}</td>
<td>{{ sample.other }}</td>
