<th scope="col">Sample&nbsp;Type</th>
<th scope="col">Lab&nbsp;Id</th>
<th scope="col">Box</th>
<th scope="col">Position</th>
<th scope="col">PWID</th>
<!-- <th scope="col">ID</th> -->
<th scope="col">Cell&nbsp;Type</th>
<th scope="col">Sample&nbsp;Date</th>
<th scope="col">Visit&nbsp;Number</th>
<th scope="col">Batch&nbsp;Number</th>
<th scope="col">Passage&nbsp;Number</th>
<th scope="col">Cell&nbsp;Count</th>
<th scope="col">Growth&nbsp;Media</th>
<th scope="col">Vial&nbsp;Source</th>
<th scope="col">Lot&nbsp;Number</th>
<th scope="col">Volume(ml)</th>
<th scope="col">Patient&nbsp;Code</th>
<th scope="col">Last&nbsp;User</th>
<th scope="col">Notes</th>
