{% extends "base.html" %}
{% block title %} Inventory {% endblock %}
{% block content %}

<div>   
    <button id="create_sample" value="cell_line" class="btn btn-primary btn-sm" >Add Cell Line</button>
    <table class="table" >
        <caption>Cell Line Data</caption>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Sample Date</th>            
            <th scope="col">Cell Type</th>       
            <th scope="col">Passage Number</th>       
            <th scope="col">Cell Count (millions)</th>       
            <th scope="col">Growth Media</th>       
            <th scope="col">Vial Source</th>       
            <th scope="col">Lot Number</th>       
            <th scope="col">Options</th>    
          </tr>
          
        </thead>

    {% for cell_line in cell_lines %}

        <tbody>
            <tr>
                <td>{{ cell_line.lab_id }}</td>
                <td>{{ cell_line.sample_date }}</td>
                <td>{{ cell_line.cell_type }}</td>
                <td>{{ cell_line.passage_number }}</td>
                <td>{{ cell_line.cell_count }}</td>
                <td>{{ cell_line.growth_media }}</td>
                <td>{{ cell_line.vial_source }}</td>
                <td>{{ cell_line.lot_number }}</td>       
                <td>
                    <button id="{{ cell_line.id }}" class="edit_sample" value="cell_line" class="btn btn-primary btn-sm" >Edit</button>
                </td>                         
                <td>
                    <button id="{{ cell_line.id }}" class="delete_sample" value="cell_line" class="btn btn-warning btn-sm" >Delete</button>
                </td>                           
            </tr>    
        </tbody> 

    {% endfor %}
    </table>
</div>
{% endblock content %}