{% extends "base.html" %}
{% block title %} Inventory {% endblock %}
{% block content %}

<div>   
    <button id="create_serum" value="Create New" class="btn btn-primary btn-sm" >Add Serum</button>
    <table class="table" >
        <caption>Cell Line Data</caption>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Sample Date</th>                            
            <th scope="col">Vial Source</th>                   
          </tr>
          
        </thead>

    {% for serum in serums %}

        <tbody>
            <tr>
                <td>{{ serum.lab_id }}</td>
                <td>{{ serum.sample_date }}</td>                
                <td>{{ serum.vial_source }}</td>                
            </tr>    
        </tbody> 

    {% endfor %}
    </table>
</div>
{% endblock content %}