{% extends "base.html" %}
{% block title %} Inventory {% endblock %}
{% block content %}

<div>   
    <button id="create_sample" value="serum" class="btn btn-primary btn-sm" >Add Serum</button>
    <table class="table" >
        <caption>Cell Line Data</caption>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Sample Date</th>
            <th scope="col">Volume</th>                                       
            <th scope="col">Vial Source</th> 
            <th scope="col">User</th>         
            <th scope="col">Options</th>                       
          </tr>
          
        </thead>

    {% for serum in serums %}

        <tbody>
            <tr>
                <td>{{ serum.lab_id }}</td>
                <td>{{ serum.sample_date }}</td>                
                <td>{{ serum.volume }}</td>          
                <td>{{ serum.vial_source }}</td>   
                <td>{{ serum.user_id }}</td>   
                <td>
                    <button id="{{ serum.id }}" class="edit_sample" value="serum" class="btn btn-primary btn-sm" >Edit</button>
                </td>                         
                <td>
                    <button id="{{ serum.id }}" class="delete_sample" value="serum" class="btn btn-warning btn-sm" >Delete</button>
                </td>                 
            </tr>    
        </tbody> 

    {% endfor %}
    </table>
</div>
{% endblock content %}