{% extends "base.html" %}
{% block title %} People {% endblock %}
{% block content %}
<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="inline">
        <h1>People</h1>
    </div>
    <br>

    {% for people_row in people | batch(3, "Empty") %}
    <div class="card-deck">
        {% for person in people_row %}
        {% if person.id is defined %}
        <div class="people-card card" data-id={{person.id}}>
            <div class="card-body">
                {% if current_user.gid == 1 %}
                <button  type="button" class='bx bx-dots-horizontal-rounded edit' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">                    
                    <button class="dropdown-item" id="edit_user" data-id="{{ person.id }}">Edit</button>       
                </div>
                {% endif %}
                <h5 class="card-title">{{ person }}</h5>
                <br>
                <p class="card-text">{{ person.email }}<br>{{ (person.groupName()) }} </p>
            </div>
        </div>
        {% else %}
        <div class="card" id="box-empty">
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    {% endfor %}
</main>

<div class="sample-sidebar hidden" id="box-info">
    Loading...
</div>

<script>
    cards = document.querySelectorAll(".card");
    function buildInfo(uid){
        const user_info_url = "/users/people/info/"+uid
        $(document).ready( function() {
            $("#box-info").load(user_info_url);
        });   
    };
    cards.forEach(card => {
        card.addEventListener("click", () => {
            uid = $(card).data("id");
            buildInfo(uid)
        })
    });
</script> 
{% endblock content %}