{% extends "base.html" %}
{% block title %} Freezers {% endblock %}
{% block content %}
<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="inline">
    {% if not room %}
        <h1>Freezers: All</h1>
        <button id="create_freezer" type="button" class="btn btn-primary btn-sm" data-target="modal-response">Create</button>
    {% else %}
        <h1>Freezers</h1>
        &#9;&#60; <a href="{{ url_for('room.room_freezers', room_id = room.id )}}" class="title-link">{{ room.name }}</a>
        &#9;&#60; <a href="{{ url_for('building.building_rooms', building_id = room.building.id)}}" class="title-link">{{ room.building.name}}</a>
        <!-- <button id="create_freezer" type="button" class="btn btn-primary btn-sm" data-target="modal-response">Create</button> -->
        <button id="create_freezer" type="button" class="btn btn-primary btn-sm" data-target="modal-response" value="{{ room.id }}">Add Freezer</button>
    {% endif %}
    </div>
    <br>
    {% for freezer_row in freezers | batch(3, "Empty") %}
    <div class="card-deck">
        {% for freezer in freezer_row %}
            {% if freezer.id is defined %}
            <!-- If freezers are of certain type, set their classes to visually distignuish them -->
            <!-- -80C freezer -->
            {% if freezer.freezer_obj.name == "-80c" %}
            <div class="card freezereighty">
            <!-- Else it's an LN2 freezer-->
            {% else %}
            <div class="card freezerlntwo">
            {% endif %}
                <div class="card-body">
                <button  type="button" class='bx bx-dots-horizontal-rounded edit' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" id="edit_freezer" data-id="{{ freezer.id }}">Edit</button>
                    <a href="{{ url_for('freezer.delete_box', freezer_id = freezer.id) }}" class="dropdown-item delete">Delete</a>
                </div>
                
                <h5 class="card-title">{{ freezer.name}}</h5>
                <p class="card-text">{{ freezer.room.name }}</p>
                {% if freezer.freezer_obj.name == "-80c" %}
                <a href="{{ url_for('freezer.freezer_shelves', freezer_id = freezer.id ) }}" class="btn btn-primary noprop">Shelves</a>
                {% else %}
                <a href="{{ url_for('freezer.freezer_shelves', freezer_id = freezer.id ) }}" class="btn btn-primary noprop">Towers</a>
                {% endif %}
                <a href="{{ url_for('freezer.freezer_boxes', freezer_id = freezer.id ) }}" class="btn btn-primary noprop">Boxes</a>
                </div>
            </div>
            {% else %}
            <div class="card" id="box-empty">
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    {% endfor %}
</main>
<div class="sample-sidebar hidden" id="box-info">
</div>
{% endblock content %}