{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<main>
<div> 
    <div class="inline">
        {% if freezer.freezer_obj.name == "-80c" %}
        <h1>{{freezer.name}} Shelves</h1>
        {% else %}
        <h1>{{freezer.name}} Towers</h1>
        {% endif %}
        <button id="create_shelf" type="button" class="create_shelf btn btn-primary btn-sm" data-target="modal-response">Create</button>
    </div>
    <br>
    {% for shelf_row in shelves | batch(4, "Empty") %}
    <div class="card-deck">
        {% for shelf in shelf_row %}
        {% if shelf.id is defined %}
        <div class="card">
            <div class="card-body">
                <button  type="button" class='bx bx-dots-horizontal-rounded edit' data-target="modal-response"></button>
              <h5 class="card-title">{{shelf.name}}</h5>
              <!-- Will make use of it after
              <button id="create_button" value="{{ shelf.id }}" class="btn btn-primary btn-sm" onclick="updateshelv()"">Update shelv</button>
              <button id="delete_button" value="{{ shelf.id }}" class="btn btn-danger btn-sm" onclick="updateshelv()"">Delete shelv</button>
              -->
              <a href="" class="btn btn-primary noprop">Enter</a>
            </div>
        </div>
        {% else %}
        <div class="card" id="box-empty">
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    {% endfor %}
</main>
<div class="sample-sidebar hidden" id="shelv-info">
</div>
{% endblock content %}