{# Update Template #}

<div class="modal-header">
  <h5 class="modal-title">Create Freezer</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="container col-12" method="POST" action='/freezer/' role='form'>
    <div class="justify-content-center align-items-center" style="margin-top:20">
      <div class="form-group">{{ form.id() }}</div>
      <div class="form-group">
        {{ form.name.label(class='col-md-4 vert-cent') }} 
        {{ form.name(id="primary-tab-index", tabindex=1, class="form-control bg-white border-md") }}
      </div>
      <div class="form-group">
        {{ form.freezer_type.label(class='col-md-4 vert-cent') }} 
        <select class="form-control bg-white border-md" name="freezer_type">
          {% for freezer_type in freezer_types %}
            <option value="{{freezer_type.id}}">{{freezer_type.name}}</option>
          {% endfor %}
        </select>
      </div>
      {% if room %}
      <input type="hidden" id="room_id" name="room_id" value="{{room.id}}" />
      {% else %}
      <div class="form-group">
        {{ form.room_id.label(class='col-md-4 vert-cent') }} 
        <select class="form-control bg-white border-md" name="room_id">
          {% for room in rooms %}
            <option value="{{room.id}}">{{room.name}}</option>
          {% endfor %}
        </select>
      </div>      
      {% endif %}
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary ">Submit</button>
      <button type="button" data-dismiss="modal" class="btn">Cancel</button>
    </div>
  </form>
</div>
