{% extends "base.html" %}
{% block title %} Freezers {% endblock %}
{% block content %}
<main>
    <div class="inline">
        <h1>Freezers</h1>
        <button id="create_freezer" type="button" class="btn btn-primary btn-sm" data-target="modal-response">Create</button>
    </div>
    <br>
    {% for freezer_row in freezers | batch(3, "Empty") %}
    <div class="card-deck">
        {% for freezer in freezer_row %}
        {% if freezer.id is defined %}
        <div class="card">
            <div class="card-body">
                <button  type="button" class='bx bx-dots-horizontal-rounded edit' data-target="modal-response"></button>
              <h5 class="card-title">{{ freezer.name}}</h5>
              <p class="card-text">Info</p>
              <a href="{{ url_for('box.freezer_boxes', freezer_id = freezer.id ) }}" class="btn btn-primary">Enter</a>
            </div>
        </div>
        {% else %}
        <div class="card" id="box-empty">
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    {% endfor %}
</main>
<div class="sample-sidebar hidden" id="box-info">
</div>
{% endblock content %}