{% extends "base.html" %}
{% block title %} Rooms {% endblock %}
{% block content %}
<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- Title inline with links to parent locations and create button at the top -->
    <div class="inline">
        {% if not building %}
        <h1>Rooms: All</h1>
        <button id="create_room" type="button" class="btn btn-primary btn-sm" data-target="modal-response">Create</button>
        {% else %}
        <h1>Rooms</h1>
        &#9;&#60; <a href="{{ url_for('building.building_rooms', building_id = building.id )}}" class="title-link">{{ building.name }}</a>
        &#9;&#60; <a href="{{ url_for('building.all_buildings')}}" class="title-link">Buildings</a>
        <!-- <button id="create_freezer" type="button" class="btn btn-primary btn-sm" data-target="modal-response">Create</button> -->
        <button id="create_room" type="button" class="btn btn-primary btn-sm" data-target="modal-response" value="{{ building.id }}">Add Room</button>
        {% endif %}
    </div>
    <br>

    <!-- For all rooms, put them in cards in rows of 3 -->
    {% for room_row in rooms | batch(3, "Empty") %}
    <div class="card-deck">
        {% for room in room_row %}
        {% if room.id is defined %}
        <div class="card">
            <div class="card-body">
                <!-- Button for options for each room -->
                <button  type="button" class='bx bx-dots-horizontal-rounded edit' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                    <!-- Restricting view of options to certain user groups -->
                    {% if current_user.gid <= 3 %}
                        <button class="dropdown-item" id="edit_room" data-id="{{ room.id }}">Edit</button>
                        <a href="{{ url_for('room.delete_box', room_id = room.id) }}" class="dropdown-item delete">Delete</a>
                    {% endif %}
                </div>

                <!-- Room info -->
                <h5 class="card-title">{{ room.name}}</h5>
                <p class="card-text">{{ room.building.name }}</p>

                <!-- Link to view freezer in the room -->
                <a href="{{ url_for('room.room_freezers', room_id = room.id ) }}" class="btn btn-primary noprop">Enter</a>
            </div>
        </div>
        {% else %}
        <div class="card" id="box-empty">
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    {% endfor %}
</main>
<div class="sample-sidebar hidden" id="box-info">
</div>
{% endblock content %}