{% extends "base.html" %}
{% block title %} Rooms {% endblock %}
{% block content %}
<main>
    <div class="inline">
        <h1>Rooms</h1>
        <button id="create_box" type="button" class="btn btn-primary btn-sm" data-target="modal-response" autofocus>Create</button>
    </div>
    <br>
    {% for room_row in rooms | batch(3, "Empty") %}
    <div class="card-deck">
        {% for room in room_row %}
        {% if room.id is defined %}
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ room.name}}</h5>
              <p class="card-text">Info</p>
              <a href="#" class="btn btn-primary">Enter</a>
            </div>
        </div>
        {% else %}
        <div class="card" id="box-empty">
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    {% endfor %}
</main>
{% endblock content %}