{% extends "base.html" %}
{% block title %} Samples {% endblock %}
{% block content %}
<main>
    <div class="inline"><h1>{{ box.label }}</h1><h4> ({{ box.box_obj.name }})</h4>
        {% if box.shelf.freezer.freezer_obj.name == "-80c" %}
        &#9;&#60; <a href="{{ url_for('shelf.shelf_boxes', shelf_id = box.shelf.id) }}" class="title-link">Shelf {{box.shelf.name}}</a>
        {% else %}
        &#9;&#60; <a href="{{ url_for('shelf.shelf_boxes', shelf_id = box.shelf.id) }}" class="title-link">Tower {{box.shelf.name}}</h1>
        {% endif %}
        &#9;&#60; <a href="{{ url_for('freezer.freezer_shelves', freezer_id = box.shelf.freezer.id) }}" class="title-link">{{ box.shelf.freezer.name }}</a>
        &#9;&#60; <a href="{{ url_for('room.room_freezers', room_id = box.shelf.freezer.room.id) }}" class="title-link">{{ box.shelf.freezer.room.name }}</a>
        &#9;&#60; <a href="{{ url_for('building.building_rooms', building_id = box.shelf.freezer.room.building.id)}}" class="title-link">{{ box.shelf.freezer.room.building.name}}</a>

    </div>
    <br>
    <!-- If box type is 10x10 -->
    {% if box.box_obj.name == "10x10" %}
    {% for i in range(10) %}
    {% set parent_loop = loop %}
        <div class="card-group">
        {% for i in range(10) %}
            {% set coordinate = loop.index + parent_loop.index0 * 10 %}
                <div class="info-card card border" data-boxid="{{ box.id }}">
                    <div class="card-body">
                        <p class="card-text coord">{{coordinate}}</p>
                        {% for sample in samples if sample.position == coordinate|string %}
                            <p class="card-text">{{ sample.lab_id }}</p>
                        {% endfor %}
                    </div>
                </div>
        {% endfor %}
        </div>
    {% endfor %}
    {% endif %}

    <!-- If box type is 9x9-->
    {% if box.box_obj.name == "9x9" %}
    {% for i in range(9) %}
    {% set parent_loop = loop %}
        <div class="card-group">
        {% for i in range(9) %}
            {% set coordinate = loop.index + parent_loop.index0 * 9 %}
                <div class="info-card card border" data-boxid="{{ box.id }}">
                    <div class="card-body">
                        <p class="card-text coord">{{coordinate}}</p>
                        {% for sample in samples if sample.position == coordinate|string %}
                            <!-- Possibility 
                            <div class="no-gap">
                            <p class="card-text">{{ sample.lab_id }}</p>
                            <p class="card-text">{{ sample.lab_id }}</p>
                            <p class="card-text">{{ sample.lab_id }}</p>
                            </div>
                            -->
                            <p class="card-text">{{ sample.lab_id }}</p>
                        {% endfor %}
                    </div>
                </div>
        {% endfor %}
        </div>
    {% endfor %}
    {% endif %}

    <!-- DUMPED, KEEPING INCASE CURRENT IDEA GETS FUCKED UP THE FUCKING ARSEHOLE
    <-- If box type is 9x9--
    {% if sample_box_id == "9" %}

    <-- Counting the coordinate we're on--
    {% set count = namespace(value=1) %}

    <-- For each row in grid--
    {% for sample_row in samples | batch(9, "Empty") %}

    <-- Used to keep count of row number--
    {% set parent_loop = loop %}

    <-- Building card row--
    <div class="card-group">
        <-- Building card in card row--
        {% for sample in sample_row %}
        <-- If sample (would be sample's position) matches coordinate counter, build card--
        {% if sample == count.value %}
        <div class="card border">
            <div class="card-body">
                <p class="card-text coord">{{count.value}},{{sample}}</p>
                <p class="card-text"> Sample info</p>
            </div>
        </div>
        <-- Iterate coordinate counter--
        {% set count.value = count.value + 1 %}

        <-- Else, sample id doesnt match coordinate id (there is no sample deposited in the coordinates) --
        {% else %}
            <-- For the rest of the row, build empty cards --
            {% for i in range(count.value, parent_loop.index * 9 + 1) %}
                <-- Keep building empty cards until we our next sample matches the coordinates 
                    (samples will be sorted by sample id when inputed)--
                {% if count.value != sample %}
                    <div class="card border">
                        <div class="card-body">
                            <p class="card-text coord">EMPTY, {{count.value}},{{sample}}</p>
                            <p class="card-text"></p>
                        </div>
                    </div>
                    {% set count.value = count.value + 1 %}
                <-- Else sample id matches corrdinate, so build card with its info--
                {% else %}
                    <div class="card border">
                        <div class="card-body">
                            <p class="card-text coord">{{count.value}},{{sample}}</p>
                            <p class="card-text"> Sample info</p>
                        </div>
                    </div>
                <-- PROBLEM: NEED SOME WAY TO ITERATE TO NEXT SAMPLE--
                {% set count.value = count.value + 1 %}
            {% endif %}
                
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
    -->

    <!-- If box type is standard-->
    {% if box.box_obj.name == "Wax Box (Standard)" %}
    {% for i in range(10) %}
    {% set parent_loop = loop %}
        <div class="card-group">
        {% for i in range(22) %}
            {% set coordinate = loop.index + parent_loop.index0 * 22 %}
                <div class="info-card card border" data-boxid="{{ box.id }}">
                    <div class="card-body">
                        <p class="card-text coord">{{coordinate}}</p>
                        {% for sample in samples if sample.position == coordinate|string %}
                            <p class="card-text">{{ sample.lab_id }}</p>
                        {% endfor %}
                    </div>
                </div>
        {% endfor %}
        </div>
    {% endfor %}
    {% endif %}

    <!-- If box type is 5ml-->
    {% if box.box_obj.name == "Wax Box (5ml)" %}
    {% for i in range(7) %}
    {% set parent_loop = loop %}
        <div class="card-group">
        {% for i in range(16) %}
            {% set coordinate = loop.index + parent_loop.index0 * 16 %}
                <div class="info-card card border" data-boxid="{{ box.id }}">
                    <div class="card-body">
                        <p class="card-text coord">{{coordinate}}</p>
                        {% for sample in samples if sample.position == coordinate|string %}
                            <p class="card-text">{{ sample.lab_id }}</p>
                        {% endfor %}
                    </div>
                </div>
        {% endfor %}
        </div>
    {% endfor %}
    {% endif %}

    <!-- If box type is large-->
    {% if box.box_obj.name == "Wax Box (Large)" %}
    {% for i in range(10) %}
    {% set parent_loop = loop %}
        <div class="card-group">
        {% for i in range(24) %}
            {% set coordinate = loop.index + parent_loop.index0 * 24 %}
                <div class="info-card card border" data-boxid="{{ box.id }}">
                    <div class="card-body">
                        <p class="card-text coord">{{coordinate}}</p>
                        {% for sample in samples if sample.position == coordinate|string %}
                            <p class="card-text">{{ sample.lab_id }}</p>
                        {% endfor %}
                    </div>
                </div>
        {% endfor %}
        </div>
    {% endfor %}
    {% endif %}
</main>

<div class="sample-sidebar hidden" id="box-info">
</div>

<script>
cards = document.querySelectorAll(".card");
function buildInfo(boxid, boxpos){
    const samp_url = "/samples/info/"+boxid+"/"+boxpos
    $(document).ready( function() {
            $("#box-info").load(samp_url);
    });   
};
cards.forEach(card => {
    card.addEventListener("click", () => {
        box_id = $(card).data("boxid");
        box_pos = card.querySelector(".coord").textContent
        buildInfo(box_id, box_pos)
    })
});
</script>
{% endblock content %}