<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Deposit Sample
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <h6 class="dropdown-header">Sample Type</h6>
        <!-- WILL MAKE MODAL DISPLAY PROPER LATER-->
        <button id="create_sample" class="dropdown-item" value="cell_line">Cell Line</button>
        <button id="create_sample" class="dropdown-item" value="mosquito">Mosquito</button>
        <button id="create_sample" class="dropdown-item" value="pbmc">PBMC</button>
        <button id="create_sample" class="dropdown-item" value="plasma">Plasma</button>
        <button id="create_sample" class="dropdown-item" value="serum">Serum</button>
        <button id="create_sample" class="dropdown-item" value="virus_culture">Virus Culture</button>
        <button id="create_sample" class="dropdown-item" value="virus_isolation">Virus Isolation</button>
        <button id="create_sample" class="dropdown-item" value="cell_line">Other?</button>
        <button id="create_sample" class="dropdown-item" value="cell_line">Other?</button>
        <button id="create_sample" class="dropdown-item" value="cell_line">Other?</button>
    </div>
  </div>