<h4 class="pos">Position {{samples[0].position}}</h4>
<div class="btn-group">
    <!-- Button to display dropdown of sample types for deposit -->
    {% if current_user.gid <= 4 %}
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Deposit Sample
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <!-- Sample types to deposit -->
        <h6 class="dropdown-header">Sample Type</h6>
        <button id="create_sample_box_cell" class="dropdown-item" value="antigen" data-box_id="{{box.id}}" data-pos="{{position}}">Antigen</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="cell_line" data-box_id="{{box.id}}" data-pos="{{position}}">Cell Line</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="mosquito" data-box_id="{{box.id}}" data-pos="{{position}}">Mosquito</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="pbmc" data-box_id="{{box.id}}" data-pos="{{position}}">PBMC</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="peptide" data-box_id="{{box.id}}" data-pos="{{position}}">Peptide</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="plasma" data-box_id="{{box.id}}" data-pos="{{position}}">Plasma</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="rna" data-box_id="{{box.id}}" data-pos="{{position}}">RNA</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="serum" data-box_id="{{box.id}}" data-pos="{{position}}">Serum</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="supernatant" data-box_id="{{box.id}}" data-pos="{{position}}">Supernatant</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="virus_culture" data-box_id="{{box.id}}" data-pos="{{position}}">Virus Culture</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="virus_isolation" data-box_id="{{box.id}}" data-pos="{{position}}">Virus Isolation</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="other" data-box_id="{{box.id}}" data-pos="{{position}}">Other</button>
    </div>
    {% endif %}
  </div>
  <br>
{% for sample in samples %}
{% if sample.used == False %}
<div class="card-deck">
    <div class="card div-info-card">
        <div class="card-body">
            <!-- Options for samples -->
            <button  type="button" class='bx bx-dots-horizontal-rounded edit' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                <button id="{{ sample.id }}" class="copy_sample_box_cell dropdown-item" value="{{sample.sample_type}}">Copy</button>
                <button id="{{ sample.id }}" class="edit_sample_box_cell dropdown-item" value="{{sample.sample_type}}">Edit</button>
                <a href="{{ url_for('sample.remove', sample_id = sample.id ) }}" class="dropdown-item delete">Remove</a>
            </div>

            <h5 class="card-title">{{sample.lab_id}}</h5>

            <h6 class="card-subtitle mb-2 text-muted">{{sample.sample_type}}</h6>
            <p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item inline"><div>Date:</div>&emsp;<div>{{sample.sample_date}}</div></li>
                    <li class="list-group-item inline"><div>Volume:</div>&emsp;<div>{{sample.volume_ml}} ml</div> </li>
                    
                    {% if sample.sample_type == "antigen" %}
                    <li class="list-group-item inline"><div>PWID:</div>&emsp;<div>{{sample.pathwest_id}}</div></li>
                    <li class="list-group-item inline"><div>Batch Number:</div>&emsp;<div>{{sample.batch_number}}</div></li>
                    <li class="list-group-item inline"><div>Lot Number:</div>&emsp;<div>{{sample.lot_number}}</div></li>
                    {% endif %}

                    {% if sample.sample_type == "cell_line" %}
                    <li class="list-group-item inline"><div>Cell Type:</div>&emsp;<div>{{sample.cell_type}}</div> </li>
                    <li class="list-group-item inline"><div>Passage Number:</div>&emsp;<div>{{sample.passage_number}}</div></li>
                    <li class="list-group-item inline"><div>Cell Count:</div>&emsp;<div>{{sample.cell_count}} million</div></li>
                    <li class="list-group-item inline"><div>Growth Media:</div>&emsp;<div>{{sample.growth_media}}</div></li>
                    <li class="list-group-item inline"><div>Vial Source:</div>&emsp;<div>{{sample.vial_source}}</div></li>
                    <li class="list-group-item inline"><div>Lot Number:</div>&emsp;<div>{{sample.lot_number}}</div></li>
                    {% endif %}

                    {% if sample.sample_type == "peptide" %}
                    <li class="list-group-item inline"><div>Cell Type:</div>&emsp;<div>{{sample.cell_type}}</div></li>
                    <li class="list-group-item inline"><div>Batch Number:</div>&emsp;<div>{{sample.batch_number}}</div></li>
                    <li class="list-group-item inline"><div>Vial Source:</div>&emsp;<div>{{sample.vial_source}}</div></li>
                    <li class="list-group-item inline"><div>Lot Number:</div>&emsp;<div>{{sample.lot_number}}</div></li>
                    {% endif %}

                    {% if sample.sample_type == "pbmc" %}
                    <li class="list-group-item inline"><div>Visit Number:</div>&emsp;<div>{{sample.visit_number}}</div></li>
                    <li class="list-group-item inline"><div>Cell Count:</div>&emsp;<div>{{sample.cell_count}} million</div></li>
                    <li class="list-group-item inline"><div>Patient Code:</div>&emsp;<div>{{sample.patient_code}}</div></li>            
                    {% endif %}

                    {% if sample.sample_type == "plasma" %}
                    <li class="list-group-item inline"><div>Visit Number:</div>&emsp;<div>{{sample.visit_number}}</div></li>           
                    {% endif %}

                    {% if sample.sample_type == "rna" %}
                    <li class="list-group-item">PWID: {{sample.pathwest_id}}</li>
                    {% endif %}

                    {% if sample.sample_type == "serum" %}
                    <li class="list-group-item inline"><div>PWID:</div>&emsp;<div>{{sample.pathwest_id}}</div></li>           
                    {% endif %}

                    {% if sample.sample_type == "virus_culture" or sample.sample_type == "virus_isolation" %}
                    <li class="list-group-item inline"><div>PWID:</div>&emsp;<div>{{sample.pathwest_id}}</div></li>           
                    <li class="list-group-item inline"><div>Batch Number:</div>&emsp;<div>{{sample.batch_number}}</div></li>
                    <li class="list-group-item inline"><div>Passage Number:</div>&emsp;<div>{{sample.passage_number}}</div></li>
                    <li class="list-group-item inline"><div>Growth Media:</div>&emsp;<div>{{sample.growth_media}}</div></li>
                    {% endif %}

                    <li class="list-group-item">Notes: <p>{{sample.notes}}</p></li>
                </ul>
            </p>

            <p class="card-text"><small class="text-muted">Last updated by {{sample.user_id}}</small></p>
        </div>
    </div>
</div>
<br>
{% endif %}
{% endfor %}