{% extends "base.html" %}
{% block title %} Samples {% endblock %}
{% block content %}
<main>
    <div class="inline"><h1>{{ box.label }}</h1>
        &#9;&#60;<a href="/room" class="title-link">Freezers</a>
        &#9;&#60;<a href="/freezer" class="title-link">Rooms</a>
    </div>
    <br>
    <!-- If box type is 10x10 -->
    {% if box.type == "10" %}
    {% for sample_row in samples | batch(10, "Empty") %}
    <div class="card-group">
        {% for sample in sample_row %}
        <a href="#" class="card border">
            <div class="card-body">
                <p class="card-text coord">{{sample}}</p>
                <p class="card-text"> Sample info</p>
                <!--
                <p class="card-text"><small class="text-muted"></small></p>
                -->
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}

    <!-- If box type is 9x9-->
    {% if box.type == "9" %}
    {% for i in range(9) %}
    {% set parent_loop = loop %}
        <div class="card-group">
        {% for i in range(9) %}
            {% set coordinate = loop.index + parent_loop.index0 * 9 %}
                <div class="card border">
                    <div class="card-body">
                        <p class="card-text coord">{{coordinate}}</p>
                        {% for sample in samples if sample.position == coordinate %}
                            <p class="card-text">Info</p>
                        {% endfor %}
                    </div>
                </div>
        {% endfor %}
        </div>
    {% endfor %}
    {% endif %}

    <!-- DUMPED, KEEPING INCASE CURRENT IDEA GETS FUCKED UP THE FUCKING ARSEHOLE
    <-- If box type is 9x9--
    {% if sample_box_id == "9" %}

    <-- Counting the coordinate we're on--
    {% set count = namespace(value=1) %}

    <-- For each row in grid--
    {% for sample_row in samples | batch(9, "Empty") %}

    <-- Used to keep count of row number--
    {% set parent_loop = loop %}

    <-- Building card row--
    <div class="card-group">
        <-- Building card in card row--
        {% for sample in sample_row %}
        <-- If sample (would be sample's position) matches coordinate counter, build card--
        {% if sample == count.value %}
        <div class="card border">
            <div class="card-body">
                <p class="card-text coord">{{count.value}},{{sample}}</p>
                <p class="card-text"> Sample info</p>
            </div>
        </div>
        <-- Iterate coordinate counter--
        {% set count.value = count.value + 1 %}

        <-- Else, sample id doesnt match coordinate id (there is no sample deposited in the coordinates) --
        {% else %}
            <-- For the rest of the row, build empty cards --
            {% for i in range(count.value, parent_loop.index * 9 + 1) %}
                <-- Keep building empty cards until we our next sample matches the coordinates 
                    (samples will be sorted by sample id when inputed)--
                {% if count.value != sample %}
                    <div class="card border">
                        <div class="card-body">
                            <p class="card-text coord">EMPTY, {{count.value}},{{sample}}</p>
                            <p class="card-text"></p>
                        </div>
                    </div>
                    {% set count.value = count.value + 1 %}
                <-- Else sample id matches corrdinate, so build card with its info--
                {% else %}
                    <div class="card border">
                        <div class="card-body">
                            <p class="card-text coord">{{count.value}},{{sample}}</p>
                            <p class="card-text"> Sample info</p>
                        </div>
                    </div>
                <-- PROBLEM: NEED SOME WAY TO ITERATE TO NEXT SAMPLE--
                {% set count.value = count.value + 1 %}
            {% endif %}
                
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
    -->

    <!-- If box type is standard-->
    {% if box.type == "s" %}
    {% for sample_row in samples | batch(22, "Empty") %}
    <div class="card-group">
        {% for sample in sample_row %}
        <a href="#" class="card border">
            <div class="card-body">
                <p class="card-text coord">{{sample}}</p>
                <!--
                <p class="card-text"><small class="text-muted"></small></p>
                -->
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}

    <!-- If box type is 5ml-->
    {% if sample_box_id == "5ml" %}
    {% for sample_row in samples | batch(16, "Empty") %}
    <div class="card-group">
        {% for sample in sample_row %}
        <a href="#" class="card border">
            <div class="card-body">
                <p class="card-text coord">{{sample}}</p>
                <!--
                <p class="card-text"><small class="text-muted"></small></p>
                -->
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}

    <!-- If box type is large-->
    {% if sample_box_id == "l" %}
    {% for sample_row in samples | batch(24, "Empty") %}
    <div class="card-group">
        {% for sample in sample_row %}
        <a href="#" class="card border">
            <div class="card-body">
                <p class="card-text coord">{{sample}}</p>
                <!--
                <p class="card-text"><small class="text-muted"></small></p>
                -->
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
</main>
<div class="sample-sidebar hidden" id="box-info">
    {% include "inventory.html" %}
</div>
<script>
cards = document.querySelectorAll(".card");
function buildInfo(boxid, boxpos){
    const samp_url = {{ (url_for("samp_info", boxid=boxid, boxpos=boxpos))|tojson}}
    const samp_div = document.getElementById("sample-sidebar")
    fetch(samp_url)
        .then(response => response.text)
        .then(text => samp_div.innerHtml = "text")
};
cards.forEach(card => {
    card.addEventListener("click", () => {
        // ID NEEDS TO CHANGE
        box_id = card.querySelector(".coord").textContent
        box_pos = card.querySelector(".coord").textContent
        console.log(box_id, box_pos)
        buildInfo(box_id, box_pos)
    })
});
</script>
{% endblock content %}