<p><h4>Position {{samples[0].position}}</h4><h7>Sample Information: </h7></p>
{% for sample in samples %}
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <!-- Options for samples -->
            <button  type="button" class='bx bx-dots-horizontal-rounded edit' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                <button id="{{ sample.id }}" class="edit_sample_box_cell dropdown-item" value="{{sample.sample_type}}">Edit</button>
                <a href="" class="dropdown-item">Delete</a>
            </div>

            <h5 class="card-title">{{sample.lab_id}}</h5>

            <p>
                <ul>
                    <li>Sample Type: {{sample.sample_type}}</li>
                    <!-- Testing styles
                    <li>Lab Id: {{sample.lab_id}}</li>
                    -->
                    <li>Date: {{sample.sample_date}}</li>
                    <li>Volume: {{sample.volume_ml}} ml</li>
                    
                    {% if sample.sample_type == "antigen" %}
                    <li>PWID: {{sample.pathwest_id}}</li>
                    <li>Batch Number: {{sample.batch_number}}</li>
                    <li>Passage Number: {{sample.passage_number}}</li>
                    <li>Lot Number: {{sample.lot_number}}</li>
                    {% endif %}

                    {% if sample.sample_type == "cell_line" %}
                    <li>Cell Type: {{sample.cell_type}}</li>
                    <li>Passage Number: {{sample.passage_number}}</li>
                    <li>Cell Count: {{sample.cell_count}} million</li>
                    <li>Growth Media: {{sample.growth_media}}</li>
                    <li>Vial Source: {{sample.vial_source}}</li>
                    <li>Lot Number: {{sample.lot_number}}</li>
                    {% endif %}

                    {% if sample.sample_type == "peptide" %}
                    <li>Cell Type: {{sample.cell_type}}</li>
                    <li>Batch Number: {{sample.batch_number}}</li>
                    <li>Vial Source: {{sample.vial_source}}</li>
                    <li>Lot Number: {{sample.lot_number}}</li>
                    {% endif %}

                    {% if sample.sample_type == "pbmc" %}
                    <li>Visit Number: {{sample.visit_number}}</li>
                    <li>Cell Count: {{sample.cell_count}} million</li>
                    <li>Patient Code: {{sample.patient_code}}</li>            
                    {% endif %}

                    {% if sample.sample_type == "plasma" %}
                    <li>Visit Number: {{sample.visit_number}}</li>           
                    {% endif %}

                    {% if sample.sample_type == "rna" %}
                    <li>PWID: {{sample.pathwest_id}}</li>           
                    <li>Batch Number: {{sample.batch_number}}</li>
                    <li>Lot Number: {{sample.lot_number}}</li>
                    {% endif %}

                    {% if sample.sample_type == "serum" %}
                    <li>PWID: {{sample.pathwest_id}}</li>           
                    {% endif %}

                    {% if sample.sample_type == "virus_culture" or sample.sample_type == "virus_isolation" %}
                    <li>PWID: {{sample.pathwest_id}}</li>           
                    <li>Batch Number: {{sample.batch_number}}</li>
                    <li>Passage Number: {{sample.passage_number}}</li>
                    <li>Growth Media: {{sample.growth_media}}</li>
                    {% endif %}

                    <li>Notes: <p>{{sample.notes}}</p></li>
                    <!-- Testing styles 
                    <li>Last User: {{sample.user_id}}</li>
                    -->
                </ul>
            </p>

            <p class="card-text"><small class="text-muted">Last updated by {{sample.user_id}}</small></p>
        </div>
    </div>
</div>
<br>
{% endfor %}
<div class="btn-group">
    <!-- Button to display dropdown of sample types for deposit -->
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Deposit Sample
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <!-- Sample types to deposit -->
        <h6 class="dropdown-header">Sample Type</h6>
        <button id="create_sample_box_cell" class="dropdown-item" value="cell_line" data-box_id="{{box.id}}" data-pos="{{position}}">Cell Line</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="mosquito" data-box_id="{{box.id}}" data-pos="{{position}}">Mosquito</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="pbmc" data-box_id="{{box.id}}" data-pos="{{position}}">PBMC</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="plasma" data-box_id="{{box.id}}" data-pos="{{position}}">Plasma</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="serum" data-box_id="{{box.id}}" data-pos="{{position}}">Serum</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="virus_culture" data-box_id="{{box.id}}" data-pos="{{position}}">Virus Culture</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="virus_isolation" data-box_id="{{box.id}}" data-pos="{{position}}">Virus Isolation</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="antigen" data-box_id="{{box.id}}" data-pos="{{position}}">Antigen</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="rna" data-box_id="{{box.id}}" data-pos="{{position}}">RNA</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="peptide" data-box_id="{{box.id}}" data-pos="{{position}}">Pebtide</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="supernatant" data-box_id="{{box.id}}" data-pos="{{position}}">Supernatant</button>
        <button id="create_sample_box_cell" class="dropdown-item" value="other" data-box_id="{{box.id}}" data-pos="{{position}}">Other</button>
    </div>
  </div>