{% extends "base.html" %}
{% block content %}

<main>
    <div class="inline">
        <h1>Samples</h1>
        <a href="/search" id="search-button" class="btn btn-primary btn-sm" >Search</a>
    </div>
    <br>
    <div class="search-result">
    <div class="table-responsive">
        <table class="table table-striped" >
            <thead>
            <tr>
                {% include target_sample_header_html_file %}
            </tr>

            </thead>
            <tbody>
        {% for sample in samples %}
                <tr>
                    {% include target_sample_data_html_file %} 
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</main>
{% endblock content %}